<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="jedi-layout">
<head>
<th:block layout:fragment="cssfiles">
</th:block>
</head>

<body>
	<div layout:fragment="content">
		<h2 class="sub-header">Term Analyse</h2>
		<div class="grid">
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
					<input itemType="text" class="form-control" id="search-term" placeholder="Zu analysierender Text"></input>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
					<input itemType="text" class="form-control" id="analyzer" placeholder="Zu nutzender Analyzer" value="job_search"></input>
				</div>
			</div>
			<div class="row">
				<ul class="col-lg-3 col-md-3 col-sm-3 col-xs-12" id="result-table">
									
				</ul>
			</div>
		</div>
	</div>

	<th:block layout:fragment="script">
		<script>
		/*<![CDATA[*/
		$('#search-term').on('input', function(){
			var query = $('#search-term').val();
			var analyzer = $('#analyzer').val();
			$.ajax({
				url : getContext() + '/analyze/text?q='+query+'&analyzer='+analyzer,
				method : 'POST',
				contentType : 'application/json',
				success : function(data, textStatus, jqXHR) {
					$('#result-table').empty();
					$(data).each(function(){
						$('#result-table').append('<li class="list-group-item">'+this+'</li>')
					});
				}
			});	
		});
		/*]]>*/
		</script>
	</th:block>
</body>
</html>