<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	  layout:decorator="wow-item">
<head>
	<th:block layout:fragment="cssfiles">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css" rel="stylesheet" />
	</th:block>
</head>

<body>
<div layout:fragment="content">
	<h2 class="sub-header">Index all items at a certain date</h2>
	<div class="row">
		<input type="text" class="form-control" id="index-date" placeholder="2004-01-01" />
		<button class="btn btn-success" id="submit-btn">Submit</button>
	</div>
	<div class="row">
		<span id="response"></span>
	</div>
</div>

<th:block layout:fragment="script">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
	<script>
		/*<![CDATA[*/

		$('#index-date').datepicker({
			format: 'yyyy-mm-dd',
			startDate: '2004-01-01',
			startView: '2004-01-01'
		});

		$('#index-date').datepicker('update', '2004-01-01');

		$('#submit-btn').click(function(){
			var date = $('#index-date').val();
			$.ajax({
				url : getContext() + '/items/index?date='+date,
				method : 'POST',
				contentType : 'application/json',
				timeout : 3000,
				error : function(jqXHR, textStatus, errorThrown) {
					if(errorThrown == 'timeout'){
						$('#response').html('Data from Thottbot and Allakhazam is going to be collected, this can take hours.');
					} else {
						$('#response').html('Someone else is indexing currently, please try again later or use single-indexing.');
					}
				}
			});
		});

		/*]]>*/
		</script>
</th:block>
</body>
</html>