<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="jedi-layout">
<head>
<th:block layout:fragment="cssfiles">
</th:block>
</head>

<body>
	<div layout:fragment="content">
		<h2 class="sub-header">Term Analyse</h2>
		<div class="grid">
			<div class="row" th:each="beruf : ${berufe}">
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
					<span th:text="${beruf.caption}">Beruf</span>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
					<a class="btn btn-primary btn-sm" th:href="@{/index/edit/}+${beruf.id}" role="button">Bearbeiten</a>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
					<a class="btn btn-success btn-sm js-btn" th:attr="data-url=@{/index/refresh(fkBerufId=${beruf.id})}" role="button">Auffrischen</a>
				</div>
			</div>
		</div>
	</div>

	<th:block layout:fragment="script">
		<script>
		
		</script>
	</th:block>
</body>
</html>