<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="wow-item">
<head>
<th:block layout:fragment="cssfiles">
</th:block>
</head>

<body>
	<div layout:fragment="content">
		<h2 class="sub-header">Item-Search</h2>
		<div class="row">
			<input itemType="text" class="form-control" id="search-term" placeholder="Search term" />
			<button class="btn btn-success" id="search-btn">Search</button>
		</div>
		<div class="table-responsive" id="result-table">
			<th:block th:if="${items != null}" th:fragment="result-table">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Item-ID</th>
						<th>Name</th>
						<th>Patch</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="item : ${items.content}">
						<td th:text="${item.itemId}">111</td>
						<td th:text="${item.name}">Lorem</td>
						<td th:text="${item.patch}">Lorem</td>
					</tr>
				</tbody>
			</table>
			<div class="row" id="paging-container" th:attr="data-page=${items.number}">
				<button th:unless="${items.first}" class="btn btn-primary" id="page-prev">Previous Page</button>
				<button th:unless="${items.last}" class="btn btn-primary" id="page-next">Next Page</button>
			</div>
			</th:block>
		</div>
	</div>

	<th:block layout:fragment="script">
		<script>
		/*<![CDATA[*/

		function submitSearch(page){
			var query = $('#search-term').val();
			$.ajax({
				url : getContext() + '/items/search?q='+query+'&page='+page,
				method : 'POST',
				contentType : 'application/json',
				success : function(data, textStatus, jqXHR) {
					$('#result-table').html(data);
				}
			});
		}

		$('#search-btn').click(function(){
			submitSearch(0);
		});

		$(document).on('click', '#page-next', function(){
			var page = $('#paging-container').data('page');
			submitSearch(page+1);
		});

		$(document).on('click', '#page-prev', function(){
			var page = $('#paging-container').data('page');
			submitSearch(page-1);
		});

		/*]]>*/
		</script>
	</th:block>
</body>
</html>