<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="jedi-layout">
<head>
<th:block layout:fragment="cssfiles">
</th:block>
</head>

<body>
	<div layout:fragment="content">
		<h2 class="sub-header" th:text="${beruf.caption}">Beruf-Name</h2>
		<div class="grid" th:fragment="searchwords" id="searchword-grid">
			<div class="row" th:each="word : ${beruf.berufSearchwords}">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
					<span th:text="${word.searchword}">Beruf</span>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
					<a class="btn btn-danger btn-sm btn-js-delete" th:attr="data-url=@{/index/delete(berufId=${beruf.id}, searchwordId=${word.id})}" role="button">Löschen</a>
				</div>
			</div>
		</div>
		<div class="grid">
			<div class="row">
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
					<input itemType="text" class="form-control" placeholder="Suchwort" id="add-input"/>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
					<a class="btn btn-primary btn-sm btn-js-add" th:attr="data-url=@{/index/insert(berufId=${beruf.id})}" role="button">Hinzufügen</a>
				</div>
			</div>
		</div>
	</div>

	<th:block layout:fragment="script">
		<script>
		/*<![CDATA[*/
		$(document).on('click', '.btn-js-delete', function(){	
			$.ajax({
				url : $(this).data('url'),
				method : 'POST',
				contentType : 'application/json',
				success : function(data, textStatus, jqXHR) {
					$('#searchword-grid').replaceWith(data);
				}
			});	
		});
		
		$('.btn-js-add').on('click', function(){	
			$.ajax({
				url : $(this).data('url')+'&searchword='+$('#add-input').val(),
				method : 'POST',
				contentType : 'application/json',
				success : function(data, textStatus, jqXHR) {
					$('#searchword-grid').replaceWith(data);
					$('#add-input').val(null);
				}
			});	
		});
		/*]]>*/
		</script>
	</th:block>
</body>
</html>