<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	  layout:decorator="wow-item">
<head>
	<th:block layout:fragment="cssfiles">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css" rel="stylesheet" />
	</th:block>
</head>

<body>
<div layout:fragment="content">
	<h2 class="sub-header">Index all items at a certain date</h2>
	<div class="row">
		<input type="text" class="form-control col-sm-2" id="index-date" placeholder="2004-01-01" />
		<input type="text" class="form-control col-sm-8" id="index-link" placeholder="http://wow.allakhazam.com/db/item.html?witem=2933" />
		<button class="btn btn-success" id="submit-btn">Submit</button>
	</div>
	<div class="row">
		<span id="response"></span>
	</div>
</div>

<th:block layout:fragment="script">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
	<script>
		/*<![CDATA[*/

		$('#index-date').datepicker({
			format: 'yyyy-mm-dd',
			startDate: '2004-01-01',
			startView: '2004-01-01'
		});

		$('#index-date').datepicker('update', '2004-01-01');

		$('#submit-btn').click(function() {
			var date = $('#index-date').val();
			var link = $('#index-link').val();
			var type = null;

			if(link.includes('allakhazam')) {
				type = 'allakhazam';
			} else if(link.includes('thottbot')) {
				type = 'thottbot';
			}

			if(type != null) {
				$.ajax({
					url : getContext() + '/items/index-single/'+type+'?date='+date+'&link='+link,
					method : 'POST',
					contentType : 'application/json',
					timeout : 3000,
					success : function(data, textStatus, jqXHR) {
						$('#response').html('The link has been indexed (if available) and you and others can find it.');
					},
					error : function(jqXHR, textStatus, errorThrown) {
						$('#response').html('An uncaught error has occured.');
					}
				});
			} else {
				$('#response').html('Please enter a valid link.');
			}
		});

		/*]]>*/
		</script>
</th:block>
</body>
</html>