<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="jedi-layout">
<head>
<th:block layout:fragment="cssfiles">
</th:block>
</head>

<body>
	<div layout:fragment="content">
		<h2 class="sub-header">Hochladen</h2>
		<form method="POST" enctype="multipart/form-data" th:action="@{''}">
		<div class="grid" th:fragment="searchwords" id="searchword-grid">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
					Datei: <input itemType="file" name="file" />
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
					<input itemType="submit" class="btn btn-primary" role="button" value="Hochladen"></input>
				</div>
			</div>
		</div>
		</form>
		
		<div class="grid">
			<div class="row">
			<table th:fragment="result-table" id="result-table" class="table table-striped">
				<thead>
					<tr>
						<th>Suchwort</th>
						<th>Berufe</th>
					</tr>
				</thead>
				<tbody th:if="${results != null}">
					<tr th:each="result : ${results}">
						<td th:text="${result.key}">111</td>
						<td>
							<ol th:each="beruf : ${result.value}">
								<span class="bg-info" th:text="'Beruf: '+${beruf.caption}"></span>
								<li th:each="searchword : ${beruf.berufSearchwords}" th:text="${searchword.searchword}"></li>
							</ol>
						</td>
					</tr>
				</tbody>
			</table>
			</div>
		</div>
	</div>

	<th:block layout:fragment="script">
		<script>
		/*<![CDATA[*/
		           
		/*]]>*/
		</script>
	</th:block>
</body>
</html>